@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-valid[required]:not(ng-select), .ng-valid.required:not(ng-select)  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(ng-select)  {
  border-left: 5px solid #a94442; /* red */
}

ng-select.ng-invalid .ng-select-container {
  border-left: 5px solid #a94442; /* red */
  box-shadow: none;
}

ng-select.ng-valid .ng-select-container {
  border-left: 5px solid #42A948; /* green */
  box-shadow: none;
}

div.form-container {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
    border-radius: 0.25rem;
    @media screen and (min-width: 576px) {
      padding: 1.5rem;
      margin-right: 0;
      margin-left: 0;
      border-width: .2rem;
    }
}